
<h2>Ciekawe linki</h2>
<ul>
    <li>
        <a href="#" target="_blank">Test</a>
    </li>
    <li>
        <a href="https://www.youtube.com" target="_blank">Jutub</a>
    </li>
    <li>
        <a href="https://www.wykop.pl" target="_blank">vikop.ru</a>
    </li>
</ul>